#container {
    width:720px;
    margin: 0 auto;
    }

  .meal-description-container {
    background-color:#056dae;
    border-radius: 10px;
    margin: 0 auto;
    width: auto;
    height: 50%;
    transform: translateX(-92%);
    transition: transform 0.5s linear;
   }

 .active {
    opacity: 1;
    transform: translateX(0);
    
  }


  * {
    font-family: sans-serif;
  }
  
  .title {
    text-align: center;
    margin: 4rem;
    font-size: 3.2rem;
    text-shadow: 3px 3px #c0c0c0;
  }
  
  img {
   
    display: block;
     width: 200px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    clear: left;
      }
  p {
    font-size: 16px;
    color: #323232;
  }
  
  .meal-description p{
    margin-top: 15px;
   
  }

  .text-meal-description{
    text-align: left;
    width: 680px;
    padding-top: 0px;
    padding-left: 43px;
    color: #ffffff;
    font-weight: normal;
  }

  .meal-title {
    color:#fff;
    font-size: 2rem;
    text-align: center;
    padding-top: 8px;  
    text-shadow: 3px 3px #0a0a0a;
  }